[profile.dev]
opt-level = "z"

[profile.release]
opt-level = "z"

[workspace]
members = ["dnas/*/zomes/coordinator/*", "dnas/*/zomes/integrity/*"]

[workspace.dependencies]
hdi = "0.2.1"
hdk = "0.1.1"
serde = "1"

[workspace.dependencies.deepkey]
path = "dnas/deepkey/zomes/coordinator/deepkey"

[workspace.dependencies.deepkey_integrity]
path = "dnas/deepkey/zomes/integrity/deepkey"
