/* Write your global styles here, in PostCSS syntax */
/* Write your global styles here, in PostCSS syntax */
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';

h1 {
	/* color: rgb(49, 75, 189); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
